# # apt-get update
# # apt-get install -y emacs mlocate wget git curl gcc g++ make unzip
# # wget https://repo.anaconda.com/archive/Anaconda3-2022.10-Linux-x86_64.sh
# # bash Anaconda3-2022.10-Linux-x86_64.sh

wheel
setuptools
requests
uvicorn
pyOpenSSL==23.1.1
numpy
numba
tqdm
git+https://github.com/liyaodev/fairseq.git
resampy==0.4.2
python-socketio==5.8.0
fastapi==0.95.1
python-multipart==0.0.6
onnxruntime-gpu
scipy==1.10.1
matplotlib==3.7.1
websockets==11.0.2
git+https://github.com/facebookresearch/faiss.git
pyworld
torchcrepe==0.0.18
librosa==0.9.1
gin==0.1.6
gin_config==0.5.0
einops==0.6.0
local_attention==1.8.5
websockets==11.0.2
sounddevice==0.4.6
dataclasses_json==0.5.7
onnxsim==0.4.28
torchfcpe==0.0.3
